<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>codefellowship</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div th:replace="NavBar :: nav"></div>


<div class="container">
    <br>
    <img src="https://avatars.githubusercontent.com/u/3904529?s=200&v=4" alt="user's image">
    <br>
    <h1>Welcome to Code Fellowship App.</h1>
    <br>
  <p>App that allows people to learn programming to connect with each other and support each other on their coding journeys<p/>

</div>
</div>

</body>
</html>