<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codefellowship</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div th:replace="NavBar :: nav"></div>

<div class="container">

    <h1>Welcome to Code Fellowship App.</h1>

  <p>App that allows people to learn programming to connect with each other and support each other on their coding journeys.

    <p/>
</div>


</div>
</body>
</html>